body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
    background-image: url(ready.jpg);
     background-size: cover
      }
      h1 {
        font-size: 2em;
        color: whitesmoke;
        margin-top: 50px;
        text-align: center;
      }
      p {
        font-size: 1.2em;
        color: #00bfff;
        text-align: center;
      }
      button {
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        font-size: 1.2em;
        font-weight: bold;
        color: #fff;
        background-color: #0077cc;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      button:hover {
        background-color: #005faa;
      }